@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lexend", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
iframe {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 8px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.Frame_Container {
  width: 32vw;
  height: 96vh;

  // border: 4px solid #e9e7e7;
  box-shadow: 4px 4px 16px #00000056;
  background: #151515;
  padding: 8px;

  border-radius: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.isMobile {
  .Frame_Container {
    width: 100vw !important;
    border-radius: none !important;
    padding: 0 !important;
  }
}
.LoadingStatus {
  height: 40px;
  width: 40px;
  position: fixed;
  top: 12px;
  right: 212px;
  left: auto;
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  pointer-events: none;
  opacity: 0;
}

.Loading_Active {
  opacity: 1;
}

.DropDown_Container {
  position: fixed;
  width: 136px;
  height: 40px;
  overflow: hidden;
  top: 2vh;
  right: 14vw;
  left: auto;
  border-radius: 32px;

  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.En_Active {
  justify-content: flex-start;
  #En {
    background: white;
    color: #353535;
  }
}
.Vi_Active {
  justify-content: flex-end;
  #Vi {
    background: white;
    color: #353535;
  }
}
// .DropDown_Container:hover {
//   height: 80px;
// }
.DropDown {
  width: 100%;
  height: auto;

  background: rgba(0, 0, 0, 0.75);

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;

  button {
    height: 40px;
    width: 50%;
    display: block;
    background: none;
    color: white;
    font-size: 1.2rem;
    outline: none;
    border: none;
    transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  }

  button:hover {
    background: #ffffff56;
    cursor: pointer;
  }
}

// .isMobile {
//   .DropDown_Container {
//     height: 32px;
//     right: 56px;
//     top: 10px;
//   }
//   .DropDown {
//     button {
//       height: 32px;
//       font-size: 1rem;
//     }

//     button:hover {
//       background: #ffffff56;
//       cursor: pointer;
//     }
//   }
//   .LoadingStatus {
//     height: 32px;
//     width: 40px;
//   }
//   .DropDown_Container:hover {
//     height: 64px;
//   }
// }
