@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lexend", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
}
iframe {
  height: 100vh;
  width: 100vw;
  border: none;
  outline: none;
}

.LoadingStatus {
  height: 40px;
  width: 40px;
  position: fixed;
  top: 12px;
  right: 178px;
  left: auto;
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  pointer-events: none;
  opacity: 0;
}

.Loading_Active {
  opacity: 1;
}

.DropDown_Container {
  position: fixed;
  width: 104px;
  height: 40px;
  overflow: hidden;
  top: 12px;
  right: 64px;
  left: auto;

  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.En_Active {
  justify-content: flex-start;
}
.Vi_Active {
  justify-content: flex-end;
}
.DropDown_Container:hover {
  height: 80px;
}
.DropDown {
  width: 100%;
  height: auto;

  background: rgba(0, 0, 0, 0.75);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;

  button {
    height: 40px;
    width: 100%;
    display: block;
    background: none;
    color: white;
    font-size: 1.2rem;
    outline: none;
    border: none;
    transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  }

  button:hover {
    background: #ffffff56;
    cursor: pointer;
  }
}

.isMobile {
  .DropDown_Container {
    height: 32px;
    right: 56px;
    top: 10px;
  }
  .DropDown {
    button {
      height: 32px;
      font-size: 1rem;
    }

    button:hover {
      background: #ffffff56;
      cursor: pointer;
    }
  }
  .LoadingStatus {
    height: 32px;
    width: 40px;
  }
  .DropDown_Container:hover {
    height: 64px;
  }
}
